<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RecepcaoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webservices.sathomologa.sef.sc.gov.br/wsDfeSiv/Recepcao.asmx"
                binding="basicHttpBinding" bindingConfiguration="RecepcaoSoap"
                contract="WebServiceBlocoX.RecepcaoSoap" name="RecepcaoSoap" />
        </client>
    </system.serviceModel>
</configuration>